.tictactoe {
  margin-top: -22px;
}
.tictactoe-body {
  background-color: rgb(0, 43, 60);
}
.tictactoe-body .app-content {
  background-color: #111;
  border-radius: 10px;
  border-color: #044965;
}

.tictactoe .title {
  position: relative;
  left: 1.5%;
  font-size: 36px;
  margin-top: 5px;
}
.tictactoe .logo {
  background-image: url('../../img/favicon.png');
  background-size: 60px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-top: -15px;
  background-color: rgb(92, 146, 162);
  background-position: 50%;
  border-radius: 6px;
  position: relative;
  left: -12px;
  top: 5px;
}
.tictactoe a {
  color: #3AA1BF;
}
.tictactoe,
.tictactoe-body a.clicked {
  color: #D2D2D2;
}
.games-container {
  text-align: center;
  min-height: 20px;
}
.tictactoe-game {
  display: inline-block;
  margin-top: -10px;
}
table.game {
  margin-top: -12px;
  margin-bottom: 8px;
  display: inline-block;
}
table.game td {
  height: 50px;
  width: 50px;
  border: 1px solid white;
}
table.game td:hover {
  background: #444;
  cursor: pointer;
}
button#new-game {
  height: 33px;
  width: 30%;
  margin-top: 16px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 20px;
  background: #5896B1;
  opacity: 0.8;
}
button:hover {
  cursor: pointer;
  opacity: 1.0!important;
}
.tictactoe .done table.game td:hover {
  background: none;
  cursor: default;
}
.tictactoe .win,
.tictactoe .win:hover {
  background: #0C4861!important;
}
.tictactoe .shame .win,
.tictactoe .shame .win:hover {
  background: rgba(95, 25, 25, 0.62)!important;
}
.tictactoe-game i {
 cursor: pointer;
 text-align: center;
}
.credit {
  position: relative;
  bottom: -20px;
  font-size: 16px;
}
.spinner {
  position: relative;
  top: 10px;
}
.sk-spinner-three-bounce div {
  background-color: #5C92A2;
}
.gamenum {
  font-size: 14pt;
  margin: 3px;
}

.start-invisible {
  visibility: hidden;
}
.single-game {
  padding: 10px;
  text-align: center;
  min-height: 20px;
  border: 1px solid grey;
  margin-top: 20px;
  border-radius: 5px;
  background: #1C1D1D;
  position: relative;
  width: 90%;
  display: inline-block;
}
i.icon {
  display: inline-block;
  padding: 3px 6px;
  border-radius: 3px;
  font-size: 12px;
  font-style: normal;
  position: absolute;
  top: 10px;
}
i.icon:hover {
  background-color: rgb(92, 146, 162);
  color: black;
}
i.icon.restart {
  left: 10px;
}
i.icon.close {
  right: 10px;
}
.whose-trun {
  margin-top: 10px;
}
// i.icon.restart {
//   background-image: url('../../img/restart.png');
// }
// i.icon.close {
//   background-image: url('../../img/x.png');
// }
