<div>
  <div class="logo"></div>
  <span class="title">Tic Tac Toe</span>
  <br>
  <p class="description">press [new game] to begin the madness</p>
  <br>
  <input type="number" value="3" id="game-size">
  <br>Opponent:
    <select id="players">
      <option value="1" selected>Computer</option>
      <option value="2">Human</option>
    </select>
  <button id="new-game">New Game</button>

  <div class="games-container"></div>

  <a class="credit" href="https://github.com/andrewbaldock/tictactoe">github.com/andrewbaldock/ttt</a>
</div>
