<p class="gamenum">GAME # <%= gameNum %></p>

<i class="icon close">Close</i>
<i class="icon restart">Restart</i>

<div class="tictactoe-game">

  <div class="spinner start-invisible">
      <div class="sk-three-bounce">
        <div class="sk-child sk-bounce1"></div>
        <div class="sk-child sk-bounce2"></div>
        <div class="sk-child sk-bounce3"></div>
      </div>
  </div>

  <div class="whose-turn"></div><br>

  <table class="game">
    <% for(var i=0; i<grid.length; i++) { %>
      <tr>
        <% for(var j=0; j<grid.length; j++) { %>
          <td data-row="<%= i %>" data-col="<%= j %>">
            <% if(grid[i][j] === 1) { %>
              X
            <% } else if(grid[i][j] === 2) { %>
              O
            <% } else if(grid[i][j] === 100) { %>
              &nbsp;
            <% } %>
          </td>
        <% } %>
      </tr>
    <% } %>
  </table>
  <br>
</div>

